* {
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    margin: 0;
    padding-top: 150px;
    overflow: hidden;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding-top: 116px;
    }
}

/*NAVBAR*/

nav {
    padding: 5px 80px;

    display: flex;
    justify-content: space-between;
    font-size: 24px;

    border-bottom: 1px solid #e8e8e8;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;

        width: 744px;

        font-size: 18px;
    }
}

a {
    text-decoration: none;
}

.logo_img {
    width: 96px;
    height: 130px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 62px;
        height: 80px;
    }
}

.nav_pages {
    margin: 0;
    padding: 0;
    
    display: flex;
    align-items: center;

    list-style-type: none;
}

.nav_pages a {
    color: #000000;

    transition: all 0.2s ease;
}

.nav_pages :last-child {
    margin-right: 0;
}

.nav_pages a:hover {
    color: #258d8a;
}

.nav_pages li {
    margin-right: 46.3px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 24px;
    }
}

.nav_profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    margin-right: 16px;

    width: 36px;
    height: 36px;

    cursor: pointer;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 32px;
        height: 32px;
    }
}

.p_icon {
    cursor: pointer;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 70px;
        height: 70px;
    }
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: none;
    flex-direction: column;
    gap: 15px;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 0;
}
.menu.show {
    display: flex;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    .logo_img {
        width: 40px;
        height: 51px;
    }

    nav {
        padding: 8px 16px;
        width: 375px;
    }
    
    .nav_pages, .nav_profile {
        display: none;
    }

    .registr_btns {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    body {
        padding-top: 70px;
    }
}

/*MAIN*/

main {
    padding: 24px 80px;
    margin-bottom: 200px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
    }
}

.profile {
    margin-top: 0;

    font-size: 48px;
    font-weight: bold;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 28px;

        margin-bottom: 16px;
    }
}

.profile_container {
    display: flex;
    justify-content: space-between;
}

.doctor_data {
    display: flex;
    flex-direction: column;

    width: 974px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 530px;
    }
}

label {
    margin-bottom: 16px;

    font-size: 30px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 24px;
    }
}

.profile_info {
    display: flex;
}

input {
    margin-bottom: 16px;
    padding: 16px 24px;

    width: 100%;

    border-radius: 12px;
    border: 1px solid #e8e8e8;

    font-size: 24px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 20px;

        margin-bottom: 12px;
    }
}

.doctor_data div {
    display: flex;
    align-items: center;
}

.name label {
    margin-right: 65px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 57px;
    }
}

.surname label {
    margin-right: 21px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 22px;
    }
}

.email label {
    margin-right: 73px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 63px;
    }
}

.phone label {
    margin-right: 58px;
    
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 52px;
    }
}

.fin label {
    margin-right: 98px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 85px;
    }
}

.hcode label {
    margin-right: 44px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-right: 40px;
    }
}

#save_btn {
    padding: 16px 24px;
    
    border: 1px solid #076c7d;
    border-radius: 12px;
    background-color: #ffffff;

    font-size: 24px;
    font-weight: 500;
    color: #04404b;

    cursor: pointer;

    transition: all 0.5s ease;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 18px;
    }
}

#save_btn:hover {
    background-color: #C0F6FF;
}

.save_changes {
    display: flex;
    justify-content: flex-end;

    margin-top: 8px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 4px;
    }
}

.profile_photo_edit {
    display: flex;
    flex-direction: column;
}

.profile_photoB {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 166px;
        height: 166px;
    }
}

.edit_btns {
    margin-top: 24px;

    display: flex;
    justify-content: center;
}

#change {
    margin-right: 8px;

    border: 1px solid #1fc16b;
    cursor: pointer;
}

#change img, #bin img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 22px;
        height: 22px;
    }
}

#bin {
    border: 1px solid #d00416;
    cursor: pointer;
}

.edit_btns button {
    padding: 16px 24px;

    background-color: #ffffff;
    border-radius: 12px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    main {
        padding: 16px;
    }

    .profile {
        font-size: 24px;
    }

    .profile_container {
        flex-direction: column-reverse;
    }

    .profile_photoB {
        width: 120px;
        margin-right: 16px;
    }

    .edit_btns {
        align-items: center;
    }

    .edit_btns img {
        width: 20px;
        height: 20px;
    }

    .edit_btns button {
        padding: 16px;
    }

    .profile_photo_edit {
        flex-direction: row;
    }

    .doctor_data input {
        font-size: 16px;
        width: 256px;
    }

    .doctor_data label {
        font-size: 18px;
    }

    .name label {
        margin-right: 40px;
    }

    .surname label {
        margin-right: 15px;
    }

    .email label {
        margin-right: 45px;
    }

    .phone label {
        margin-right: 35px;
    }

    .fin label {
        margin-right: 60px;
    }   

    .hcode label {
        margin-right: 25px;
    }

    .save_changes {
        width: 350px;
    }

    #save_btn {
        font-size: 16px;
    }
}

/*FOOTER*/

footer {
    padding: 36px 80px;
    background-color: #d1f3f2;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 24px 16px;
    }
}

.foot_container {
    padding: 0;

    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.contact_us {
    display: flex;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 40px;
    }
}

.contact_list {
    margin-top: 10px;

    list-style-type: none;

    font-size: 20px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 0;

        font-size: 16px;
    }
}

.contact_list img {
    margin-right: 10px;
}

.contact_list li {
    margin-bottom: 10px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-bottom: 14.5px;
    }
}

.social {
    position: relative;
    top: 40px;
    right: 135px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 10px;
        right: 100px;
    }
}

.social img {
    width: 30px;
    height: 30px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 24px;
        height: 24px;
    }
}

.location img {
    width: 24px;
    height: 25px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 15px;
        height: 18px;
    }
}

.email img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 19px;
        height: 15px;
    }
}

.phone img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 17px;
        height: 17px;
    }
}

.foot_data {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 30px;
    }
}

.foot_data a {
    margin-bottom: 12px;

    display: block;

    font-size: 16px;
    color: #000000;
}

#footdata_head {
    font-size: 20px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 16px;
        font-weight: 600;
    }
}

.foot_menu {
    display: flex;
    justify-content: space-between;

    width: 378px;
}


footer::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #a4a4a4;
    position: relative;
    display: block;
    top: 230px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 270px;
    }
}

.footer_last {
    margin-top: 70px;

    display: flex;
    justify-content: space-between;

    color: #606060;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 82px;
    }
}

.footer_last p {
    margin: 0;
}

#desg_name {
    color: #333333;
    margin: 0;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    footer {
        padding: 24px 16px;
    }

    .foot_container {
        flex-direction: column;
    }

    .contact_list {
        padding-left: 24px;
        margin-top: 0;

        font-size: 16px;
    }

    .contact_list li {
        display: flex;
        align-items: center;
    }
    
    .contact_list img {
        width: 20px;
        height: 20px;
    }

    .pages {
        left: 0;
    }

    #foot_logo {
        width: 62px;
        height: 80px;
    }

    .social {
        top: 24px;
        right: 90px;
    }

    .social img {
        width: 24px;
        height: 24px;
    }

    .foot_data a, #footdata_head {
        font-size: 16px;
    }

    .foot_menu{
        width: 343px;
        padding-top: 32px;
    }

    footer::before {
        top: 380px;
    }
}