* {
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    margin: 0;
    padding-top: 204px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding-top: 116px;
    }
}

/*NAVBAR*/

nav {
    padding: 5px 80px;

    display: flex;
    justify-content: space-between;
    font-size: 24px;

    border-bottom: 1px solid #e8e8e8;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;

    @media only screen and (min-width: 744px) and (max-width: 1100px){
        padding: 16px;

        font-size: 16px;
        width: 744px;
    }
}

a {
    text-decoration: none;
}

.logo_img {
    width: 96px;
    height: 130px;

    @media only screen and (min-width: 744px) and (max-width: 1100px){
        width: 62px;
        height: 80px;
    }
}

.nav_pages {
    margin: 0;
    padding: 0;
    
    display: flex;
    align-items: center;

    list-style-type: none;
}

.nav_pages a {
    color: #000000;

    transition: all 0.2s ease;
}

.nav_pages :last-child {
    margin-right: 0;
}

.nav_pages a:hover {
    color: #258d8a;
}

.nav_pages li {
    margin-right: 46.3px;

    @media only screen and (min-width: 744px) and (max-width: 1100px){
        margin-right: 24px;
    }
}

.registr_btns {
    display: flex;
    align-items: center;
}

.registr_btns a {
    padding: 13.5px 24px;
}

#login_btn {
    margin-right: 12px;

    color: #04404b;
    border: 1px solid #076c7d;
    border-radius: 12px;

    transition: all 0.5s ease;
}

#login_btn:hover {
    background-color: #C0F6FF;
}

#signup_btn {
    background-color: #076c7d;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 12px;

    transition: all 0.5s ease;
}

#signup_btn:hover {
    background-color: #04404b;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: none;
    flex-direction: column;
    gap: 15px;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 0;
}
.menu.show {
    display: flex;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    .logo_img {
        width: 40px;
        height: 51px;
    }

    nav {
        padding: 8px 16px;
    }
    
    .nav_pages {
        display: none;
    }

    .registr_btns {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

/*MAIN*/

#search_container {
    padding: 40px 80px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
    }
}

#search_container h2 {
    margin: 0;

    font-size: 58px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 28px;
    }
}

#search_container p {
    margin: 0;
    padding: 40px 0 30px;

    font-size: 28px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 8px 0 24px;

        font-size: 18px;
    }
}

.search_filter input {
    padding: 16px 24px;

    width: 800px;
    height: 56px;

    font-size: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 12px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 576px;
        height: 48px;

        font-size: 18px;
    }
}

#lupa {
    position: relative;
    right: 50px;
    top: 15px;

    width: 24px;
    height: 24px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 22px;
        height: 22px;

        top: 12px;
    }
}

.search_filter {
    display: flex;
}

#filter {
    padding-left: 10px;

    text-align: center;
    font-size: 24px;
    color: #04404b;
    border: 1px solid #076c7d;
    border-radius: 12px;

    appearance: none;

    transition: all 0.5s ease;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 18px;

        padding-left: 12px;
    }
}

#filter:hover {
    background-color: #C0F6FF;
}

#filter_i {
    position: relative;
    right: 140px;
    top: 15px;

    width: 24px;
    height: 24px;

    pointer-events: none;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 12px;
        right: 110px;

        width: 22px;
        height: 22px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    body {
        padding-top: 73px;
    }
    
    #search_container {
        padding: 16px;
    }

    #search_container h2 {
        font-size: 24px;
    }

    #search_container p {
        font-size: 16px;
        padding: 4px 0 16px;
    }

    .search_filter input {
        width: 250px;
        height: 44px;

        font-size: 16px;
        padding: 16px;
    }

    #lupa {
        right: 25px;

        width: 16px;
        height: 16px;   
    }

    #filter {
        font-size: 16px;
        width: 80px;
    }

    #filter_i {
        right: 70px;  
        
        width: 13px;
        height: 12px;
    }
}

/*---------------------------*/

#hospitals_container h4 {
    padding-left: 80px;

    font-size: 40px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 22px;

        padding: 0;
        margin: 0;
    }
}

#hospitals_container {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
    }
}

.hospitals_list {
    padding: 0 80px;
    list-style-type: none;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 0;
    }
}

.hospital {
    padding: 24px;
    margin-bottom: 48px;

    display: flex;
    justify-content: space-between;

    border: 1px solid #d2d2d2;
    border-radius: 24px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
    }
}

.hospital_detail {
    display: flex;
    align-items: center;
}

#hospital_img {
    width: 253px;
    height: 260px;
    border-radius: 8px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 150px;
        height: 150px;
    }
}

.rate_container {
    display: flex;
    justify-content: flex-end;

    list-style-type: none;


}

.rate_container img {
    width: 23px;
    height: 22px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 17px;
        height: 16px;
    }
}

.hospital_info {
    list-style-type: none;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 8px 16px;
    }
}

#hospital_name a {
    font-size: 36px;
    font-weight: 500;
    color: #000000;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 28px;
    }
}

#hospital_name {
    margin-bottom: 30px;
}

#hospital_contact {
    margin-bottom: 15px;

    font-size: 24px;
    color: #333333;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 22px;
    }
}

#hospital_contact img {
    margin: 6px 15px 0 0;
    width: 15px;
    height: 18px;
}

#view_btn {
    padding: 13.5px 24px;
    border: 1px solid #076c7d;
    border-radius: 12px;

    display: flex;
    align-items: center;

    background-color: #ffffff;
    color: #076c7d;

    font-size: 24px;
    font-weight: 600;

    transition: all 0.5s ease;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px 24px;

        font-size: 18px;
    }
}

#view_btn:hover {
    background-color: #C0F6FF;
}

.rate_and_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#view_img {
    margin: 3px 0 0 12px;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    #hospitals_container h4 {
        margin: 0;
        padding: 16px;

        font-size: 20px;
    }

    .hospitals_list {
        padding: 0 16px;
        margin-top: 0;
    }

    #hospital_img {
        width: 100px;
        height: 100px;
    }

    .rate_container img {
        width: 16px;
        height: 16px;
    }

    #hospital_name a, #hospital_contact {
        font-size: 14px;
    }

    #hospital_name {
        margin-bottom: 12px;
    }

    #hospital_contact {
        margin: 0;
    } 

    .hospital_info li {
        width: 144px;
    }

    #view_btn {
        padding: 10px 0 10px 5px;
        font-size: 12px;
        font-weight: 500;
        margin-left: 25px;

        width: 110px;
    }

    .hospital {
        padding: 12px 16px;
        margin-bottom: 20px;
    }

    .hospital_info {
        padding: 0 0 0 8px;
    }

    #hospital_contact img {
        margin-top: 0;
        margin-right: 4px;
        width: 10px;
        height: 14px;
    }

    .rate_and_btn {
        height: 180px;
        margin-left: -80px;
    }
}

/*FOOTER*/

footer {
    padding: 36px 80px;
    background-color: #d1f3f2;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 24px 16px;
    }
}

.foot_container {
    padding: 0;

    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.contact_us {
    display: flex;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 40px;
    }
}

.contact_list {
    margin-top: 10px;

    list-style-type: none;

    font-size: 20px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 0;

        font-size: 16px;
    }
}

.contact_list img {
    margin-right: 10px;
}

.contact_list li {
    margin-bottom: 10px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-bottom: 14.5px;
    }
}

.social {
    position: relative;
    top: 40px;
    right: 135px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 10px;
        right: 100px;
    }
}

.social img {
    width: 30px;
    height: 30px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 24px;
        height: 24px;
    }
}

.location img {
    width: 24px;
    height: 25px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 15px;
        height: 18px;
    }
}

.email img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 19px;
        height: 15px;
    }
}

.phone img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 17px;
        height: 17px;
    }
}

.foot_data {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 30px;
    }
}

.foot_data a {
    margin-bottom: 12px;

    display: block;

    font-size: 16px;
    color: #000000;
}

#footdata_head {
    font-size: 20px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 16px;
        font-weight: 600;
    }
}

.foot_menu {
    display: flex;
    justify-content: space-between;

    width: 378px;
}

footer::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #a4a4a4;
    position: relative;
    display: block;
    top: 230px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 270px;
    }
}

.footer_last {
    margin-top: 70px;

    display: flex;
    justify-content: space-between;

    color: #606060;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 82px;
    }
}

.footer_last p {
    margin: 0;
}

#desg_name {
    color: #333333;
    margin: 0;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    footer {
        padding: 24px 16px;
    }

    .foot_container {
        flex-direction: column;
    }

    .contact_list {
        padding-left: 24px;
        margin-top: 0;

        font-size: 16px;
    }

    .contact_list li {
        display: flex;
        align-items: center;
    }
    
    .contact_list img {
        width: 20px;
        height: 20px;
    }

    .pages {
        left: 0;
    }

    #foot_logo {
        width: 62px;
        height: 80px;
    }

    .social {
        top: 24px;
        right: 90px;
    }

    .social img {
        width: 24px;
        height: 24px;
    }

    .foot_data a, #footdata_head {
        font-size: 16px;
    }

    .foot_menu{
        width: 343px;
        padding-top: 32px;
    }

    footer::before {
        top: 380px;
    }
}
