* {
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    margin: 0;
    padding-top: 204px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding-top: 116px;
    }
}

/*NAVBAR*/

nav {
    padding: 24px 80px;

    display: flex;
    justify-content: space-between;
    font-size: 20px;

    border-bottom: 1px solid #e8e8e8;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;

    @media only screen and (min-width: 744px) and (max-width: 1100px){
        padding: 16px;

        font-size: 16px;
        width: 744px;
    }
}

a {
    text-decoration: none !important;
}

.logo_img {
    width: 60px;
    height: 80px;

    @media only screen and (min-width: 744px) and (max-width: 1100px){
        width: 62px;
        height: 80px;
    }
}

.nav_pages {
    margin: 0 0 0 20px;
    padding: 0;
    
    display: flex;
    align-items: center;
    

    list-style-type: none;
}

.nav_pages a {
    color: #000000;

    transition: all 0.2s ease;
}

.nav_pages :last-child {
    margin-right: 0;
}

.nav_pages a:hover {
    color: #258d8a;
}

.nav_pages li {
    margin-right: 35px;

    @media only screen and (min-width: 744px) and (max-width: 1100px){
        margin-right: 24px;
    }
}

.registr_btns {
    display: flex;
    align-items: center;
}

.registr_btns a {
    padding: 13.5px 24px;
    font-size: 16px;
}

#login_btn {
    margin-right: 12px;

    color: #04404b;
    border: 1px solid #076c7d;
    border-radius: 12px;

    transition: all 0.5s ease;
}

#login_btn:hover {
    background-color: #C0F6FF;
}

#signup_btn {
    background-color: #076c7d;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 12px;

    transition: all 0.5s ease;
}

#signup_btn:hover {
    background-color: #04404b;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: none;
    flex-direction: column;
    gap: 15px;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 0;
}
.menu.show {
    display: flex;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    .logo_img {
        width: 40px;
        height: 51px;
    }

    nav {
        padding: 8px 16px;
    }
    
    .nav_pages {
        display: none;
    }

    .registr_btns {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

#foot_logo {
    width: 96px;
    height: 130px;
}


/*MAIN*/

main {
    padding: 35px 80px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
    }
}

.link_details ul {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;

    list-style-type: none;
    font-size: 28px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 20px;
    }
}

.link_details img {
    margin: 0 20px;

    width: 6px;
    height: 12px;
}

.link_details a {
    color: #000000;
}

.link_details ul:last-child {
    color: #258d8a;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    main {
        padding: 16px;
    }

    .link_details ul {
        font-size: 18px;
    }

    .link_details img {
        width: 6px;
        height: 10px;
    }
    
}

/*---------------------------*/

#hospital_details h1 {
    margin-bottom: 30px;

    font-size: 40px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 28px;

        margin-bottom: 12px;
    }
}

#hospital_details {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin: 24px 0;
    }
}

.text p {
    padding-right: 60px;
    font-size: 24px;
    font-weight: 200;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 16px;

        width: 346px;

        padding-right: 0;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    #hospital_details h1 {
        font-size: 24px;
        margin: 16px 0 4px;
    }

    #hospital_details {
        margin: 0;
    }

    #carouselExample {
        display: none;
    }

    .text p {
        font-size: 14px;
        padding-right: 0;
    } 
    
}

/*BOOTSTRAP*/

.carousel-item {
    width: 630px!important;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 346px !important;
    }
}

.carousel-item img {
    border-radius: 8px;
    object-fit: cover;
    height: 570px; 
    width: 630px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 346px !important; 
        height: 364px;
    }
}
.carousel-indicators button {
    width: 24px!important;
    height: 24px!important;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 20px !important;
        height: 20px !important;
    }
}
.carousel-indicators .active {
    background-color: white; 
}

.carousel-indicators {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 346px;
        margin: 0 0 40px 10px !important;
    }
}

/*---------------------------*/

#search_container h2 {
    margin: 0;

    font-size: 40px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 22px;
    }
}

.search_filter {
    margin: 36px 0;

    display: flex;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin: 16px 0 32px;
    }
}

.search_filter input {
    padding: 16px 24px;

    width: 800px;
    height: 56px;

    font-size: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 12px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 18px;

        width: 540px;
        height: 48px;
    }
}

#lupa {
    position: relative;
    right: 50px;
    top: 15px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 10px;

        width: 22px;
        height: 22px;
    }
}

#filter {
    padding-right: 30px;

    text-align: center;
    font-size: 24px;
    color: #04404b;
    border: 1px solid #076c7d;
    border-radius: 12px;

    appearance: none;

    transition: all 0.5s ease;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 18px;

        padding: 0 40px 0 20px;
    }
}

#filter:hover {
    background-color: #076c7d;
    color: #ffffff;
}

#select_icon {
    width: 24px;
    height: 24px;

    position: relative;
    right: 35px;
    top: 15px;

    pointer-events: none;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 12px;
        right: 45px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    #search_container h2 {
        font-size: 20px;

        margin: 16px 0;
    }

    #search_container p {
        font-size: 16px;
        padding: 4px 0 16px;
    }

    .search_filter input {
        width: 200px;
        height: 44px;

        font-size: 16px;
        padding: 16px;
    }

    .search_filter {
        margin-top: 0;
    }

    #lupa {
        right: 25px;
        top: 8px;

        width: 16px;
        height: 16px;   
    }

    #filter {
        font-size: 16px;
        width: 110px;
    }


    #select_icon {
        right: 30px;
        top: 10px;
    }
}

/*---------------------------*/

#doctors_container h4 {
    font-size: 40px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin: 0;

        font-size: 22px;
    }
}

.doctor_detail {
    display: flex;
    align-items: center;
}

.doctors_list {
    padding: 24px 0;

    list-style-type: none;

    @media only screen and (min-width: 744px) and (max-width: 1100px) { 
        margin-top: 0;
        padding: 16px 0;
    }
}

.doctor {
    padding: 24px 24px 48px 24px;
    margin-bottom: 48px;

    display: flex;
    justify-content: space-between;

    border: 1px solid #d2d2d2;
    border-radius: 24px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 16px;
        margin-bottom: 24px;
    }
}

#doctor_img {
    width: 253px;
    height: 260px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 150px;
        height: 150px;   
    }
}

.rate_container {
    display: flex;
    justify-content: flex-end;

    list-style-type: none;
}

.rate_container img {
    width: 23px;
    height: 22px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 17px;
        height: 16px;
    }
}

.doctor_info {
    list-style-type: none;
}

#doctor_name a {
    font-size: 36px;
    font-weight: 500;
    color: #000000;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 28px;
    }
}

#doctor_field {
    margin: 10px 0 20px;

    font-size: 28px;
    color: #606060;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 22px;

        margin: 8px 0 16px;
    }
}

#doctor_hospital {
    font-size: 24px;
    color: #333333;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 20px;
    }
}

#doctor_hospital img {
    margin: 6px 15px 0 0;
    width: 15px;
    height: 18px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 14px;
        height: 17px;

        margin-right: 6px;
    }
}

#visit_btn {
    padding: 13.5px 24px;
    border: 1px solid transparent;
    border-radius: 12px;

    background-color: #076c7d;
    color: #ffffff;

    font-size: 24px;
    font-weight: 600;

    transition: all 0.5s ease;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 18px;

        padding: 13px 24px;
    }
}

#visit_btn:hover {
    background-color: #04404b;
}

.rate_and_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    #doctors_container h4 {
        margin: 0;

        font-size: 20px;
    }

    .doctors_list {
        margin-top: 0;
    }

    #doctor_img {
        width: 100px;
        height: 100px;
    }

    .rate_container img {
        width: 16px;
        height: 16px;
    }

    #doctor_name a, #doctor_field {
        font-size: 14px;
    }

    #doctor_hospital {
        font-size: 12px;
    }

    #doctor_field {
        margin: 4px 0 12px;
    }

    #visit_btn {
        padding: 10px 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .doctor {
        padding: 12px 16px;
        margin-bottom: 20px;
    }

    .doctor_info {
        padding: 0 0 0 8px;
    }

    #doctor_hospital img {
        margin-top: 0;
        margin-right: 4px;
        width: 10px;
        height: 14px;
    }

    .rate_and_btn {
        height: 180px;
    }
}

/*FOOTER*/

footer {
    padding: 36px 80px;
    background-color: #d1f3f2;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        padding: 24px 16px;
    }
}

.foot_container {
    padding: 0;

    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.contact_us {
    display: flex;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 40px;
    }
}

.contact_list {
    margin-top: 10px;

    list-style-type: none;

    font-size: 20px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 0;

        font-size: 16px;
    }
}

.contact_list img {
    margin-right: 10px;
}

.contact_list li {
    margin-bottom: 10px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-bottom: 14.5px;
    }
}

.social {
    position: relative;
    top: 40px;
    right: 135px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 10px;
        right: 100px;
    }
}

.social img {
    width: 30px;
    height: 30px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 24px;
        height: 24px;
    }
}

.location img {
    width: 24px;
    height: 25px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 15px;
        height: 18px;
    }
}

.email img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 19px;
        height: 15px;
    }
}

.phone img {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        width: 17px;
        height: 17px;
    }
}

.foot_data {
    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 30px;
    }
}

.foot_data a {
    margin-bottom: 12px;

    display: block;

    font-size: 16px;
    color: #000000;
}

#footdata_head {
    font-size: 20px;
    font-weight: 500;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        font-size: 16px;
        font-weight: 600;
    }
}

.foot_menu {
    display: flex;
    justify-content: space-between;

    width: 378px;
}

footer::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #a4a4a4;
    position: relative;
    display: block;
    top: 230px;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        top: 270px;
    }
}

.footer_last {
    margin-top: 70px;

    display: flex;
    justify-content: space-between;

    color: #606060;

    @media only screen and (min-width: 744px) and (max-width: 1100px) {
        margin-top: 82px;
    }
}

.footer_last p {
    margin: 0;
}

#desg_name {
    color: #333333;
    margin: 0;
}

@media only screen and (min-width: 375px) and (max-width: 743px) {
    footer {
        padding: 24px 16px;
    }

    .foot_container {
        flex-direction: column;
    }

    .contact_list {
        padding-left: 24px;
        margin-top: 0;

        font-size: 16px;
    }

    .contact_list li {
        display: flex;
        align-items: center;
    }
    
    .contact_list img {
        width: 20px;
        height: 20px;
    }

    .pages {
        left: 0;
    }

    #foot_logo {
        width: 62px;
        height: 80px;
    }

    .social {
        top: 24px;
        right: 90px;
    }

    .social img {
        width: 24px;
        height: 24px;
    }

    .foot_data a, #footdata_head {
        font-size: 16px;
    }

    .foot_menu{
        width: 343px;
        padding-top: 32px;
    }

    footer::before {
        top: 380px;
    }
}

/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content */
.modal_content {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Iframe inside modal */
.modal_content iframe {
    width: 100%;
    height: 100%;
    border: none;
}