* {
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    padding: 36px 80px;
    margin: 0;

    height: 100%;

    @media only screen and (max-width: 744px) {
        padding: 27px 41px;
    }
}

#logo_img {
    @media only screen and (max-width: 744px) {
        width: 62px;
        height: 80px;
    }
}

form {
    display: flex;
    flex-direction: column;

    width: 630px;

    @media only screen and (max-width: 744px) {
        margin: 338px 0 444px;
    }
}

main {
    margin-top: 60px;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: 744px) {
        margin: 0;
    }
}

form h4 {
    margin: 0 0 24px 0;

    font-size: 40px;
    font-weight: bold;
    color: #04404b;
    text-align: center;
}

.password_container {
    margin-bottom: 12px;

    display: flex;
    overflow: hidden;

    width: 100%;

    border-radius: 12px;
    border: 1px solid #e8e8e8;
}

.password_container input {
    border: none;
    outline: none;

    padding: 16px 24px;

    width: 100%;

    font-size: 20px;
}

.password_container img {
    margin: 16px 25px 0 0;

    width: 24px;
    height: 24px;
}

#reset_btn {
    padding: 13.5px 24px;
    margin-top: 24px;
    align-self: flex-end;

    background-color: #076c7d;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

    border-radius: 12px;

    transition: all 0.5s ease;

    @media only screen and (max-width: 744px) {
        font-size: 20px;

        padding: 16px 24px;
        margin-top: 16px;
    }
}

#reset_btn:hover {
    background-color: #04404b;
}
