* {
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.general_container {
    padding: 29px 36px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.head {
    display: flex;
}

#cancel_btn {
    width: 36px;
    height: 36px;
}

.general_container h2 {
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
    font-weight: 500;
}
.code_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin: 72px 0 72px 85px;
}
.code_input {
    width: 64px;
    height: 74px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #d2d2d2;
    border-radius: 12px;
}
.timer {
    font-size: 32px;
    position: relative;
    left: 230px;
}
.btn_container {
    display: flex;
    justify-content: center;
}
.resend_btn {
    background: none;
    border: 1px solid #d00416;
    border-radius: 12px;
    color: #d00416;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 24px;
    margin-right: 40px;

    transition: all 0.5s ease;
}
.resend_btn:hover {
    background-color: #d00416;
    color: #ffffff;
}
.confirm_btn {
    background: #1fc16b;
    border: 1px solid #1fc16b;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
    padding: 16px 24px;
    color: #ffffff;

    transition: all 0.5s ease;
}
.confirm_btn:hover {
    background-color: #ffffff;
    color: #1fc16b;
}